*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.menu{
    height: 60px;
    width: 100%;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

.menu h1{
    
    color: #FFFFFF;
    padding: 12px
}

.menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin-right: 12px;
}

.menu a:hover{
    color: rgb(226, 194, 50);
}

.imagem-titulo{
    background-image: url("images/frontpage.jpg");
    /* background-image: url(images/imagem-titulo.webp); */
    background-size: 100% 100%;
    height: calc(100vh - 60px);
    width: 100%;
    
}

.quem-somos{
    width: 100%;
    background-color: #181818;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.quem-somos-items{
    margin-top: 20px;
    display: flex;
    width: 90%;
    
}

.quem-somos h2{
    color: rgb(190, 190, 189);
    font-size: 32px;
}

.quem-somos p{
    color: rgb(190, 190, 189);
    font-size: 20px;
    margin-right: 50px;
}

.quem-somos img{
    max-width: 650px;
    max-height: 500px;
    border-radius: 22px;
    opacity: 0.7;
}

.quem-somos img:hover{
    opacity: 1;
}